apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
    name: {{ secret_name }}
    generatedBy: OpOrm
type: Opaque
data:
    {% for field_name, field in fields.items() -%}
    {{ field_name }}: {{ field._reference | quote }}
    {% endfor %}